/**
 * Theme to match the Univeristy of Colorado style guide
 * Use https://styleguide.colorado.edu for further theming guidelines
 * By SRC Web Team
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Include theme-specific fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed:wght@700&display=swap');


// Custom vars
$cugold: #CFB87C;
$cublue: #0277BD;
$cured: #B71C1C;


// Override theme settings (see ../template/settings.scss)
$backgroundColor: #262626;

$mainColor: #fff;
$headingColor: #fff;

$mainFontSize: 42px;
$mainFont: 'Roboto', Helvetica, sans-serif;
$headingFont: 'Roboto Condensed', Helvetica, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: normal;
$headingFontWeight: 600;
$linkColor: $cugold;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

.reveal a{
    color: $cublue !important;
    transition: color 300ms !important;
}

.reveal a:hover{
    color: $cured !important;
}

.reveal h1, h2, h3, h4, h5, h6{
    color: $cugold !important;
}

section.has-light-background {
	&, h1, h2, h3, h4, h5, h6 {
		color: #222;
	}
}

#background-image{
    background-color: $backgroundColor;
    position: absolute;
    z-index: 1;
    top: 93%;
    left: 3%;
    height: 25px;
    width: auto;
    margin: 0px;
}

.ucb-header{
    border-bottom: 1px solid $cugold;
}

//utility classes
.highlight-gold{
    color: $cugold;
}

.italics{
    font-style: italic;
}

.align-left{
    text-align: left;
}

.align-right{
    text-align: right;
}

.smaller{
    font-size: .65em;
}

.bold{
    font-weight: bold;
}


// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------